body {
	font-family: arial;
}

.tweet {
	max-width: 50%;
	border: 1px solid gray;
	padding: 15px;
	border-radius: 5px;
}

.tweet_avatar {
	display: inline-block;
	margin-right: 15px;
}

.picture {
	
}

.tweet_content {
	display: inline-block;
	font-variant: top;
}